.content-page {
  background-color: #45434A;
  padding: 100px 0;
}

.content {
  background-color: #fff;
  width: 42%;
  margin: 0 auto;
  border-radius: 18px;
  font-family: helvetica neue, helvetica, arial, sans-serif;
}

.header {
  display: flex;
  background: url('../images/background.png');
  color: #fff;
  justify-content: space-around;
  align-items: center;
  border-radius: 18px 18px 0px 0px;
  border-bottom: 2px solid #D3DCF4;
  text-align: right;
  height: 195px;
  background-repeat: no-repeat;
  background-size: cover;
}

.header img {
  width: 88px;
  height: 88px;
  margin-left: 11px;
}

.header p {
  font-size: 14px;
  font-family: helvetica neue, helvetica, arial;
}

.header h3 {
  font-size: 18px;
}

.header h1 {
  line-height: .2;
  font-weight: 200;
  font-size: 44px;
  font-family: helvetica neue, helvetica, arial;
}

.header h3 {
  font-weight: 300;
}

.invoice-info {
  background-color: #F6F8FF;
  border-bottom: 2px solid #D3DCF4;
}

.invoice-info h2 {
  margin: 0;
  font-weight: 400;
  text-align: center;
  padding: 0 0 30px;
  color: #A5A5A5;
}

.invoice-info h2 b {
  color: #292929;
}

.invoice-info h4{
  margin:0;
  text-align: center;
  padding-top:30px;
  font-size: 12px;
  padding-bottom: 10px;
  font-weight: 400;
  color: #98A6CB;
}

select, input {
  position: relative;
  border: 1px solid #d3dcf4;
  border-radius: 6px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  height: 56px;
  padding-left: 12px;
  font-size: 14px;
}

.invoice-info form {
  width: 77%;
  margin: 0 auto 50px;
  display: block;
}

.invoice-info form .select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
}

.invoice-info form .select select {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 14px 12px 0;
  outline: 0;
  border: 1px solid #D5DEF4;
  border-radius: 8px;
  background: #ffffff;
  color: #292929;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.invoice-info form .select select::-ms-expand {
  display: none;
}

.invoice-info form .select select:hover,
.invoice-info form .select select:focus {
  color: #292929;
  background: #fffff;
}

.invoice-info form .select select:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.invoice-info form .select_arrow {
  position: absolute;
  top: 22px;
  right: 15px;
  width: 0px;
  height: 0px;
  border: solid #98A6CB;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.invoice-info form .select select:hover~.invoice-info form .select_arrow,
.invoice-info form .select select:focus~.invoice-info form .select_arrow {
  border-color: #292929;
}

.invoice-info form .select select:disabled~.invoice-info form .select_arrow {
  border-top-color: #98A6CB;
}

.invoice-info form .input-container {
  display: flex;
  justify-content: space-between;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #98A6CB;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #98A6CB;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #98A6CB;
}

.invoice-info button {
  background-color: #3056BA;
  color: #fff;
  border: none;
  width: 50%;
  margin: 0 auto 38px;
  display: block;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: .25px;
  border-radius: 8px;
  font-family: helvetica neue;
  height: 60px;
}

label {
  position: absolute;
  padding-left: 14px;
  z-index: 1;
  font-size: 12px;
  font-weight: 400;
  color: #7f8db9;
  margin-top: 11px;
}

.card-num {
  width: 55%
}

.card-date, .card-cvc {
  width: 20%
}

.table-container {
  padding: 25px 0;
  border-bottom: 1px solid #EAEAEA
}

table.table {
  width: 79%;
  margin: 0 auto;
  display: block;
  font-size: 13px;
}

table.table thead tr th:first-child, table.table tbody tr td:first-child {
  width: 12%;
  text-align: left;
}

table.table thead tr th, table.table tbody tr td {
  width: 15%;
  text-align: right;
  height: 50px;
  border-bottom: 1px solid #EAEAEA;
}

tr {
  border-bottom: 1px solid #EAEAEA
}

.table-summary-container {
  display: flex;
  justify-content: space-between;
  width: 78%;
  align-items: center;
  margin: 25px auto;
  margin-bottom: 0px;
}

.table-summary-container button {
  height: 40px;
  width: 100px;
  background-color: #fff;
  border-radius: 8px;
  padding-left: 30px;
  background: url('../images/green_transactions.svg');
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 20px;
}

.table-summary {
  width: 50%;
  font-size: 13px;
  font-family: helvetica neue;
}

.table-summary-container div div {
  display: flex;
  justify-content: space-between;
  text-align: right;
}

.table-summary-container div div p {
  margin: 0;
  line-height: 2;
}

.client-comment {
  text-align: center;
  display: flex;
  border-bottom: 1px solid #EAEAEA;
  padding: 25px 0;
  color: #A5A5A5;
  font-style: italic;
  font-size: 14px;
  font-family: helvetica neue;
  justify-content: center;
}

.comment-img{
  background-color: #fff;
  border-radius: 8px;
  padding-left: 30px;
  width: 30px;
  background: url('../images/green_relationships.svg');
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 30px;
}

.client-contact {
  text-align: center;
  padding: 20px 0;
  color: #A5A5A5;
  font-size: 14px;
  font-family: helvetica neue;
}

footer {
  text-align: center;
  color: #fff;
  line-height: 1.8;
  font-size: 14px;
  margin-top: 20px;
  font-family: helvetica neue;
  padding-bottom: 10px;
}

@media (max-width: 1100px) {
.content{width:75%}
}

@media (max-width: 600px) {
.content{width:95%}
}

@media (max-width: 500px) {
.content{width:100%;border-radius:0}
.header{border-radius:0;display: block;height: 255px;text-align: center;padding-top:25px;}
.content-page{padding:0!important;}
table.table{width:90%}
.table-summary-container{width:95%;}
}
